* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.918) !important;
  overflow-x: hidden;
  
}
.body_container{
  background-image: url(/assets/images/grid.png);
  background-repeat: repeat;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  background-color: black !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding: 10px 20px;
  font-size: 22px;
  margin-right: 100px;
}

.navbar-nav .nav-link:hover {
  filter: drop-shadow(1px 1px 20px rgb(41, 79, 174));
}

.navbar-toggler-white {
  border-color: rgba(255, 252, 252, 0.5);
}

.navbar-toggler-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.sec1 .social-icons mt-3:hover {
  box-shadow: 1px 1px 20px rgb(50, 66, 157);
}

.sec1 button {
  font-size: larger;
}

.sec1 button:hover {
  box-shadow: 1px 1px 20px rgb(50, 66, 157);
}

.sec1_img {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 0px;
}

.sec1_img img {
  filter: drop-shadow(0 0 10px rgba(232, 235, 73, 0.549));
  transition: filter 0.3s ease-in-out;
}

.vh-100 {
  min-height: 100vh;
}

@media (min-width: 992px) {
  .px-md-5 {
    padding-left: 20px;
  }
}

@media (max-width: 991.98px) {
  .img-fluid {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 8px solid #fff;
  }

  .sec1_img img {
    filter: none;
  }
}

/* Adjusted Section 2 and Section 3 */
.sec2 {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
 
  
}

.sec3 {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  margin-top: 20px; 
  
   
}
.sec3 img{
  -webkit-box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 12px 8px 0px 0px #850dd5;
}
@media (min-width: 1400px) {
  .sec3 {
    margin-top: 50px; /* Increase margin to prevent overlap */

  }

}

.sec3 .about_text{
  background: none;
  padding: 5px;
}
.sec3 .about_text p{
color: white;
text-align: justify;

}
.about_heading
{
  margin-top: 2px;
  color: #fff;
  height: 100px;
  font-weight:bolder;
  font-size: xx-large;
  
}
.interest_heading
{
  margin-top: 2px;
  color: #fff;
  height: 100px;
  font-weight:bolder;
  font-size: xx-large; 
  
}
.interest_heading .card_title{
  font-weight: bolder;
  font-size: larger;
}

#contact{
  color: #fff !important;
  padding: 100px 0;
  min-height: 100vh;
  
  
  background-size: contain;
}

.contact-form{
  padding: 35px;
  border-radius: 15px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 1px 0 rgba(144, 81, 227, .5), 0 0 0.5px 0.5px rgba(141, 53, 229, .336);
  -webkit-box-shadow: 0 0 1px 0 rgba(144, 81, 227, .5), 0 0 0.5px 0.5px rgba(141, 53, 229, .336);
}

.contact-form .form-control{
  padding: 0.775rem 1.05rem;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.contact-form .form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #850dd5;
}

.contact-form .btn{
  background-color: #850dd5;
}